/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS


- Primary: 
#f1a200;
- Tints(lighter):
#e6fcf5
- Shades(darker): 


- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS



--- 06 BORDER-RADIUS

Default: 
Medium: 

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1;
  font-size: 1.6rem;
}

.btn {
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 9px;
  background-color: #f3a800;
  color: #fff;
  font-weight: 500;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;
  /* align-self: flex-end;
  justify-self: flex-start; */
  /* flex-shrink: 0; */
}

.btn:hover {
  background-color: #db9700;
  /* Trick to add border inside */
  /* box-shadow: inset 0 0 0 3px #fff; */
}

.btn--outline {
  background-color: #fbe5b3;
  color: #333;
}

.btn--outline:hover {
  background-color: #fbe5b3;

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.input {
  padding: 0 1rem;
  height: 4.6rem;
  width: 16.9rem;
  font-size: 1.4rem;
  background-color: #fefaf0;
  border: 1px solid #cccccc;
  border-radius: 9px;
}

.input-large {
  padding: 0 1rem;
  height: 4.6rem;
  /* width: 16.9rem; */
  width: 30rem;
  font-size: 1.4rem;
  background-color: #fefaf0;
  border: 1px solid #cccccc;
  border-radius: 9px;
}

.input:focus {
  outline: none;
}

.select {
  padding-left: 1rem;
  height: 4.6rem;
  width: 16.9rem;
  background-color: #fefaf0;
  border: 1px solid #cccccc;
  border-radius: 9px;
}

.container {
  /* Convention standard: 120rem/1200px 
  Or: 1140 might be even more standard.
  */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.heading-primary,
.headint-secondary,
.heading-tertiary {
  color: #333;
  font-weight: 700;
  /* letter-spacing: -0,5px; */
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  /* color: #cf711f; */
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
