.navbar {
  display: flex;
  height: 55px;
  background-color: #46beab;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
